<section class="add-articles-section">

    <a href="#" class="closebtn close-articles-modal">&times;</a>

    <div class="title">
        <h2>Ajouter des articles</h2>
    </div>
    <div class="left">
        <input type="text">
    </div>
    <div class="right">
        <a href="#" class="circle-btn">
            <i class="fa fa-plus fa-2x"></i>
        </a>
        <a href="#"  class="circle-btn">
            <i class="fa fa-minus fa-2x"></i>
        </a>
        <a href="#" class="circle-btn">
            <i class="fa fa-check fa-2x"></i>
        </a>
    </div>
</section>