<section class="add-articles-to-shoplist-section">

    <div class="title">
        <h2>Ajouter des articles</h2>
    </div>
    <div class="left">
        <label for=".add-article-input">Nom de l'article</label>
        <input type="text" class="add-article-input">
        <label for=".add-amount-input">Quantité</label>
        <input type="text" class="add-amount-input">
        <label for=".add-unit-select">Unité de mesure</label>
        <select name="add-unit-select" class="add-unit-select">
            <option value="">--Choisissez une unité--</option>
            <option value="Unité">Unité</option>
            <option value="g">g</option>
            <option value="Kg">Kg</option>
            <option value="mL">ml</option>
            <option value="cL">cl</option>
            <option value="L">L</option>
            <option value="pincée">Pincée(s)</option>
            <option value="cuillère à café">Cuillère(s) à café</option>
            <option value="cuillère à soupe">Cuillère(s) à soupe</option>
        </select>
    </div>
    <div class="right">
        <a href="#" class="add-article-to-array">
            <i class="fas fa-plus fa-2x"></i>
        </a>
        <a href="#" class="add-article-to-shoplist-btn">
            <i class="fas fa-check fa-2x"></i>
        </a>
        <a href="#" class="cancel-add-article">
            <i class="fa fa-ban fa-2x"></i>
        </a>
    </div>
</section>