{% extends "base.html.twig" %}

{% block body %}
    {% block title %}
        Yo
    {% endblock %}

    <div class="search-by-ingredients-container">
        <form action="" class="search-by-ingredients">
            <input type="text" class="search-by-ingredients-input">
        </form>
    </div>

    <div class="result-input-ingredients">

    </div>
{% endblock  %}