{% extends "base.html.twig" %}

{% block body %}
    {% block title %}
        Yo
    {% endblock %}

    <div class="create-by-ingredients-container">
        <form action="" class="create-by-ingredients">
            <input type="text" class="create-by-ingredients-input">
            <input type="reset" class="reset">
            <button type="button" class="find-ingredients">Rechercher</button>
        </form>
    </div>

    <div class="result-input-ingredients">

    </div>
{% endblock  %}