{% extends "base.html.twig" %}

{% block body %}
<ul>
    {% for shoplist in shoppingLists %}
    <li>
        {{ shoplist.description }}
        <a href="{{ path('shopping_list_view', {'id': shoplist.id}) }}">
            Voir
        </a>
        <a href="{{ path('shopping_list_delete', {'id': shoplist.id}) }}">
            Supprimer
        </a>

    </li>
    {% endfor %}
</ul>
{% endblock %}