{% extends "base.html.twig" %}

{% block body %}
{% block title %}
    {% if app.user %}
        Salut {{ user.username }}
    {% else %}
        Salut
    {% endif %}
{% endblock %}

<div class="main-title-container">
    <h1 class="main-title">My Food</h1>
</div>

    <div id="sresult" class="search-result">
    </div>
{% endblock  %}