{% extends "base.html.twig" %}

{% block body %}

<section class="main">
    <div class="main-title-container">
        <h1 class="main-title">My Food</h1>
    </div>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia fuga debitis corporis perspiciatis ullam, impedit hic
    eum adipisci beatae minima laboriosam voluptate neque asperiores tempora ducimus eligendi molestiae harum facilis!
    Maxime reiciendis quasi aspernatur facilis illo, assumenda eum consequatur mollitia quam, minus veniam maiores dicta
    sit harum quae animi cum aut officiis eaque. In doloremque earum rem quidem sint repellat.
    Voluptatem dolor hic excepturi! Tenetur iste dolorum iure quod minus facere ad, itaque quo labore maxime rem culpa
    beatae voluptates aspernatur nemo illum error blanditiis. Itaque architecto perferendis tenetur atque?
    Commodi non delectus consequuntur culpa reiciendis dicta enim sapiente qui. Ad nisi natus iusto, minus aliquid
    recusandae rem blanditiis quam, veritatis ex explicabo provident sunt incidunt vel unde dicta fuga.
    Cum odio ratione repudiandae nihil hic, itaque corporis cumque aliquam. Eius inventore fugit dolor dignissimos illum
    minima incidunt possimus nostrum aliquid itaque consequatur at ea necessitatibus temporibus, sint veritatis atque!
    Nam rem laborum sint soluta modi unde totam similique velit quasi blanditiis quas fugiat impedit quibusdam tempora
    quae recusandae, quo corrupti obcaecati. Ratione voluptate saepe dicta eum, totam veritatis veniam?
    Non, incidunt tempore? Consectetur beatae quia eos suscipit iste expedita itaque sit ratione, nesciunt dolor
    quisquam, culpa, eligendi vel nostrum ipsum cumque. Corrupti sequi ullam soluta minus provident animi ipsum!
    Magni voluptas maiores quam, nihil obcaecati, quasi officia sed esse iusto dolores possimus rerum blanditiis
    repellendus ut dignissimos adipisci error incidunt placeat quisquam cupiditate suscipit veritatis quos. Neque,
    quibusdam a.
    Repellendus neque atque quas, nulla ipsa id voluptatibus temporibus voluptate quisquam aperiam accusamus possimus
    quia provident dignissimos exercitationem, officiis odio aut veritatis nam voluptatem tempora eius doloribus!
    Aspernatur, itaque consectetur.
    Est magni nostrum fuga culpa sequi delectus inventore impedit quisquam, corrupti tempora commodi at, id ducimus
    nihil ad earum distinctio, mollitia magnam voluptate laudantium maxime! Illum excepturi aliquam eaque corporis?
    Eum ipsum debitis rem impedit ea est amet, cumque officia quod suscipit voluptate fugit mollitia! Optio inventore
    ipsam recusandae, sequi deserunt at fugit asperiores soluta labore. Atque eos porro amet.
    Inventore dolores nobis cum, incidunt facilis, deserunt amet atque, harum quos corporis soluta. Et mollitia corporis
    aliquid aspernatur porro praesentium, nulla culpa, temporibus, impedit unde amet? In cupiditate similique iusto.
    Dolor, incidunt excepturi eum rem placeat reiciendis non nesciunt optio quaerat mollitia blanditiis quos aperiam
    quia veniam consequatur in esse inventore sapiente. Eligendi dicta corrupti, obcaecati eos nisi nobis fugiat.
    Similique officia quibusdam quis libero eum. Dolores ducimus quos, perspiciatis porro numquam laboriosam quidem
    consequuntur non eum provident sint perferendis doloribus ex voluptatum explicabo inventore accusamus quo nobis, et
    minus!
    Minima nam eos quia nostrum quo, nulla molestias at molestiae corrupti ipsam sint qui in rerum! Veniam molestiae id
    assumenda asperiores animi quia provident non perferendis earum esse, sit accusantium.
    </div>
    <div id="sresult" class="search-result">
    </div>
</section>
{% endblock  %}