{% extends "base.html.twig" %}

{% block body %}

<section class="main">
    <div class="main-title-container">
        <h1 class="main-title">My Food</h1>
    </div>
    <div id="sresult" class="search-result">
    </div>
</section>
{% endblock  %}