{% extends "base.html.twig" %}

{% block body %}
{% block title %}
    {% if app.user %}
        Salut {{ user.username }}
    {% else %}
        Salut
    {% endif %}
{% endblock %}

    <div id="sresult" class="search-result">
    </div>
{% endblock  %}