{# {% for category in categories %} 
    {{ category.name }}
{% endfor %}
 #}

<div class="filters-container">
    <a href="#" class="close-modal-btn">&times;</a>

    {# Categories #}
    <div class="filters-categories">
        {% for category in categories %}
            {{ category }}
        {% endfor %}
    </div>

    {# Menus #}
    <div class="filters-menus">
        {% for menu in menus %}
            {{ menu }}
        {% endfor %}
    </div>

    {# Tags #}
    <div class="filters-tags">
        {% for tag in tags %}
            {{ tag }}
        {% endfor %}
    </div>


</div>