/*
***********************************
COLORS
***********************************
*/
:root {
  --primary-color: #000000;
  --secondary-color: #949494;
  --tertiary-color: white;
  --link-button-color: rgb(145, 142, 142);
  --link-color: #b3e1ff;
  --progress-color: #74ad06;
}

body {
  background: url("../images/redox_01.png");
  //overflow: hidden;
  margin: 0 !important;
}

#mySidepanel,
.filters-container {
  background-image: url("../images/dark_leather.png");
}

/*
***********************************
GENERAL
***********************************
*/
.active {
  display: block;
  transition: 0.5s;
}

.hide {
  display: none;
  transition: 0.5s;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.hide-height {
  transform:scaleY(0);
  height: 0;
  transition: 0.3s;
}

a {
  color: var(--primary-color);
  margin: 0;
  text-decoration: none;
}

.hr {
  height: 2px;
  border: 0;
  margin: 20px auto;
  background: rgb(29, 29, 29);
  background: radial-gradient(
    circle,
    rgb(8, 8, 8) 0%,
    rgba(219, 219, 219, 0.144) 50%,
    rgba(209, 209, 209, 0) 100%
  );
}


.hr-white{
  border: 0;
  height: 1px;
  width: 400px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, rgb(255, 255, 255), #ccc);
}


/*
***********************************
FONTS & ICONS
***********************************
*/
* {
  font-family: "Cinzel", serif;
}

.fa,
.fas {
  color: var(--secondary-color);
  margin-right: 5px;
  &:hover {
    color: var(--primary-color);
  }
}

.fa-check:hover {
  color: rgb(38, 197, 38);
}

/*
***********************************
LISTS
***********************************
*/
ul li {
  list-style-type: none;
}

/*
***********************************
INPUTS
***********************************
*/
input:focus {
  outline: none;
}

/*
***********************************
CONTAINERS
***********************************
*/
.container {
  padding: 7em;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/*
***********************************
FLASH MESSAGES
***********************************
*/

.flash-container {
  z-index: 2;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.alert {
  -webkit-box-shadow: 8px 8px 7px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 8px 8px 7px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 8px 8px 7px -2px rgba(0, 0, 0, 0.75);
  align-self: center;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: none;
  outline: none;
  text-align: center;
  opacity: 0.8;
  font-size: 1.3em;
  padding: 2%;
  border-radius: 9px;
}

.alert::after {
  opacity: 0;
  transition: ease;
}

.close {
  color: rgb(255, 0, 0) !important;
  text-shadow: 0 1px 0 #000 !important;
  opacity: 1;
  background: none;
  border: none;
  font-size: 2em;
}

.close:focus {
  outline: none;
}

.close:hover {
  color: green !important;
}


/*
***********************************
BUTTONS 
***********************************
*/
.circle-btn {
  border-radius: 50% !important;
  padding: 10px;
}

.btn-link:focus {
  text-decoration: none !important;
}