/*
***********************************
COLORS
***********************************
*/
:root {
  --blue-background: linear-gradient(90deg, #cbd6ec 0%, #dee8ff 100%);
  --primary-color: #111;
  --secondary-color: #dee8ff;
  --main-color: #cedbfa;
  --title-color: #002140;
  --font-color: #4e5f74;
  --contrast-main-color: #feddea;
  --tertiary-color: white;
  --orange-icon-color:  #ff785b;
  --link-button-color:  #0b2b4a;
  --header-button-color:  #2e2e2e;
  --progress-color: #74ad06;
}

html, body {
  overflow: hidden;
  width: 100%;
  height: 100vh;
}


/*
***********************************
GENERAL
***********************************
*/

.main-title {
  margin-top: 2em;
  text-align: center;
}

.active {
  display: block;
  transition: 0.5s;
}

.hide {
  display: none;
  transition: 0.5s;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.hide-height {
  transform:scaleY(0);
  height: 0;
  transition: 0.3s;
}

a {
  color: var(--primary-color);
  margin: 0;
  text-decoration: none;
  &:hover {
    color: var(--orange-icon-color)
  }
}

.left-right {
  display: flex;
  justify-content: space-between;
}

.hr {
  height: 1px;
  border: 0;
  width: 90%;
  margin: 20px auto;
  background: rgb(29, 29, 29);
  background: radial-gradient(
    circle,
    rgb(8, 8, 8) 0%,
    rgba(219, 219, 219, 0.144) 50%,
    rgba(209, 209, 209, 0) 100%
  );
}

.scrollable {
  overflow-y: scroll;
  height: 350px;
  padding: 1em;
  background-color: var(--tertiary-color) !important;
}

.hr-white{
  border: 0;
  height: 1px;
  width: 400px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, rgb(255, 255, 255), #ccc);
}


/*
***********************************
FONTS & ICONS
***********************************
*/
* {
  font-family: "Cinzel", serif;
}

p, span {
  color: var(--font-color);
}

.fa,
.fas {
  color: var(--link-button-color);
  margin-right: 10px;
  &:hover{
    color: var(--orange-icon-color);
  }
}

.orange-icon {
  color: var(--orange-icon-color);
}


.nav-top-container i, .footer a i {
  color: var(--link-button-color);
}

.fa-check:hover {
  color: rgb(38, 197, 38);
}

h1, h2 ,h3, h4, h5, h6 {
  color: var(--title-color);
  font-weight: bold;
}

/*
***********************************
LISTS
***********************************
*/
ul li {
  list-style-type: none;
}

/*
***********************************
INPUTS
***********************************
*/
input:focus {
  outline: none;
}

$hue: 220;
$light: hsl($hue - 90,90%,85%);
$base: hsl($hue - 20,10%,70%);
// $mid: hsl($hue + 20,40%,30%);
$mid: rgb(43, 43, 61);
$dark: hsl($hue + 40,100%,10%);

.search-input, input:not([type="checkbox"]), textarea, select, option{
  background: $mid;
  border-radius: 2rem;
  appearance: none;
  color: wheat;
  text-align: center;
  filter: blur(0.4px);
              //dark rim
  box-shadow: -0.05rem -0.05rem 0.08rem rgba($dark,0.6),
              //light rim
              0.05rem 0.05rem 0.1rem rgba($light,1),
              //inner dark
              inset 0.5rem 0.5rem 2rem rgba($dark,0.5),
              //inner dark fine
              inset 0.1rem 0.1rem 0.2rem rgba($dark,0.75),
              //inner light
              inset -0.5rem -0.5rem 4rem rgba($light,0.5);
    &::placeholder {
        color: var(--tertiary-color);
    }
}

textarea, input {
    background: #3e4c5c;
}

select:focus {
    outline: none;
}

/*
***********************************
CONTAINERS
***********************************
*/
.container {
  padding: 7em;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/*
***********************************
FLASH MESSAGES
***********************************
*/

.flash-container {
  z-index: 2;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.alert {
  -webkit-box-shadow: 8px 8px 7px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 8px 8px 7px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 8px 8px 7px -2px rgba(0, 0, 0, 0.75);
  align-self: center;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: none;
  outline: none;
  text-align: center;
  opacity: 0.8;
  font-size: 1.3em;
  padding: 2%;
  border-radius: 9px;
}

.alert::after {
  opacity: 0;
  transition: ease;
}

.close {
  color: rgb(255, 0, 0) !important;
  text-shadow: 0 1px 0 #000 !important;
  opacity: 1;
  background: none;
  border: none;
  font-size: 2em;
}

.close:focus {
  outline: none;
}

.close:hover {
  color: green !important;
}


/*
***********************************
BUTTONS 
***********************************
*/

.button-icon {
  background: none;
  outline: none;
  border: none;
  &:focus{
    background-color: var(--main-color) !important;
  }
}

.circle-btn {
  border-radius: 50% !important;
  padding: 10px;
}

.btn-link:focus {
  text-decoration: none !important;
}

/*
***********************************
TABLES
***********************************
*/

table {
  margin: auto !important;
}

/*
***********************************
BOOSTRAP
***********************************
*/
.card {
  background-color: transparent !important;
  border: none;
  padding-right: 0 !important;
}

.card-title {
  margin-left: .75rem;
}

.card-body {
  padding: 0 !important;
}

.card-img {
  text-align: center;
  margin-bottom: 2em;
}

.navbar-light {
  background-color: var(--tertiary-color) !important;
  border-radius: 40px 40px 0 0;
}

.nav-pills .nav-link.active{
  background-color: var(--orange-icon-color) !important;
}