/*
***********************************
COLORS
***********************************
*/
:root {
  --primary-color: #111;
  --secondary-color: #dee8ff;
  --main-color: #cedbfa;
  --tertiary-color: white;
  --link-button-color:  #ff785b;
  --header-button-color:  #2e2e2e;
  --progress-color: #74ad06;
}

html, body {
  overflow: hidden;
  width: 100%;
  height: 100vh;
}


/*
***********************************
GENERAL
***********************************
*/
.active {
  display: block;
  transition: 0.5s;
}

.hide {
  display: none;
  transition: 0.5s;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.hide-height {
  transform:scaleY(0);
  height: 0;
  transition: 0.3s;
}

a {
  color: var(--primary-color);
  margin: 0;
  text-decoration: none;
}

.hr {
  height: 1px;
  border: 0;
  width: 90%;
  margin: 20px auto;
  background: rgb(29, 29, 29);
  background: radial-gradient(
    circle,
    rgb(8, 8, 8) 0%,
    rgba(219, 219, 219, 0.144) 50%,
    rgba(209, 209, 209, 0) 100%
  );
}


.hr-white{
  border: 0;
  height: 1px;
  width: 400px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, rgb(255, 255, 255), #ccc);
}


/*
***********************************
FONTS & ICONS
***********************************
*/
* {
  font-family: "Cinzel", serif;
}

.fa,
.fas {
  color: var(--link-button-color);
  margin-right: 5px;
}

a .fa:hover, a .fas:hover {
  color: var(--progress-color);
  transition: ease-in-out .2s;
}

.nav-top-container i, .footer a i {
  color: var(--header-button-color);
}

.fa-check:hover {
  color: rgb(38, 197, 38);
}

/*
***********************************
LISTS
***********************************
*/
ul li {
  list-style-type: none;
}

/*
***********************************
INPUTS
***********************************
*/
input:focus {
  outline: none;
}

/*
***********************************
CONTAINERS
***********************************
*/
.container {
  padding: 7em;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/*
***********************************
FLASH MESSAGES
***********************************
*/

.flash-container {
  z-index: 2;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.alert {
  -webkit-box-shadow: 8px 8px 7px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 8px 8px 7px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 8px 8px 7px -2px rgba(0, 0, 0, 0.75);
  align-self: center;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: none;
  outline: none;
  text-align: center;
  opacity: 0.8;
  font-size: 1.3em;
  padding: 2%;
  border-radius: 9px;
}

.alert::after {
  opacity: 0;
  transition: ease;
}

.close {
  color: rgb(255, 0, 0) !important;
  text-shadow: 0 1px 0 #000 !important;
  opacity: 1;
  background: none;
  border: none;
  font-size: 2em;
}

.close:focus {
  outline: none;
}

.close:hover {
  color: green !important;
}


/*
***********************************
BUTTONS 
***********************************
*/

.button-icon {
  background: none;
  outline: none;
  border: none;
}


.circle-btn {
  border-radius: 50% !important;
  padding: 10px;
}

.btn-link:focus {
  text-decoration: none !important;
}

/*
***********************************
TABLES
***********************************
*/

table {
  margin: auto !important;
}