@charset "UTF-8";
/*
***********************************
COLORS
***********************************
*/
:root {
  --blue-background: linear-gradient(90deg, #cbd6ec 0%, #dee8ff 100%);
  --form-background: linear-gradient(90deg, rgb(14, 14, 15) 0%, rgb(49, 49, 49) 100%);
  --primary-color: #b3b3b3;
  --secondary-color: #1b1b1b ;
  --main-color: #151414;
  --title-color: #002140;
  --font-color: #222830;
  --contrast-main-color: #feddea;
  --contrast-main-color-2: #9ba7b2;
  --contrast-main-color-3: #f7fbff;
  --tertiary-color: white;
  --orange-icon-color:  #ff785b;
  --link-button-color:  #cccccc;
  --header-button-color:  #2e2e2e;
  --progress-color: #74ad06;
  --available-color: green;
  --unavailable-color: red;
}

html, body {
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

/*
***********************************
GENERAL
***********************************
*/
.center-div {
  width: 70%;
  margin: auto;
}

.main-title {
  margin-top: .5em;
  text-align: center;
}

.active {
  display: block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.hide {
  display: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.hide-height {
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  height: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

a {
  color: var(--primary-color);
  margin: 0;
  text-decoration: none;
}

a:hover {
  color: var(--orange-icon-color);
}

label {
  color: var(--primary-color);
}

.center-element {
  text-align: center;
}

.hr {
  height: 1px;
  border: 0;
  width: 90%;
  margin: 20px auto;
  background: #1d1d1d;
  background: radial-gradient(circle, #080808 0%, rgba(219, 219, 219, 0.144) 50%, rgba(209, 209, 209, 0) 100%);
}

.scrollable-auto {
  padding: 1em 2em;
  height: auto;
  margin-bottom: 1em;
}

.hr-white {
  border: 0;
  height: 1px;
  width: 400px;
  background: #333;
  background-image: -webkit-gradient(linear, left top, right top, from(#ccc), color-stop(white), to(#ccc));
  background-image: linear-gradient(to right, #ccc, white, #ccc);
}

/*
***********************************
FONTS & ICONS
***********************************
*/
* {
  font-family: "Cinzel", serif;
}

p, span {
  color: var(--primary-color);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--primary-color) !important;
  font-weight: bold !important;
}

.fa,
.fas {
  color: var(--link-button-color);
  margin-right: 10px;
}

.fa:hover,
.fas:hover {
  color: var(--orange-icon-color);
}

.orange-icon {
  color: var(--orange-icon-color) !important;
}

.nav-top-container i, .footer a i {
  color: var(--link-button-color);
}

.fa-check:hover {
  color: #26c526;
}

/*
***********************************
LISTS
***********************************
*/
ul li, li {
  list-style-type: none !important;
}

.available {
  color: var(--available-color);
}

.unvailable {
  color: var(--unavailable-color);
}

/*
***********************************
INPUTS
***********************************
*/
input:focus {
  outline: none;
}

.search-input,
input:not([type="checkbox"]),
textarea,
select,
option,
.custom-file-input {
  background: #2b2b3d !important;
  border-radius: 2rem !important;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: wheat !important;
  text-align: center;
  -webkit-box-shadow: -0.05rem -0.05rem 0.08rem rgba(17, 0, 51, 0.6), 0.05rem 0.05rem 0.1rem #b6fbc2, inset 0.5rem 0.5rem 2rem rgba(17, 0, 51, 0.5), inset 0.1rem 0.1rem 0.2rem rgba(17, 0, 51, 0.75), inset -0.5rem -0.5rem 4rem rgba(182, 251, 194, 0.5);
          box-shadow: -0.05rem -0.05rem 0.08rem rgba(17, 0, 51, 0.6), 0.05rem 0.05rem 0.1rem #b6fbc2, inset 0.5rem 0.5rem 2rem rgba(17, 0, 51, 0.5), inset 0.1rem 0.1rem 0.2rem rgba(17, 0, 51, 0.75), inset -0.5rem -0.5rem 4rem rgba(182, 251, 194, 0.5);
}

.search-input::-webkit-input-placeholder,
input:not([type="checkbox"])::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
select::-webkit-input-placeholder,
option::-webkit-input-placeholder,
.custom-file-input::-webkit-input-placeholder {
  color: var(--tertiary-color);
}

.search-input:-ms-input-placeholder,
input:not([type="checkbox"]):-ms-input-placeholder,
textarea:-ms-input-placeholder,
select:-ms-input-placeholder,
option:-ms-input-placeholder,
.custom-file-input:-ms-input-placeholder {
  color: var(--tertiary-color);
}

.search-input::-ms-input-placeholder,
input:not([type="checkbox"])::-ms-input-placeholder,
textarea::-ms-input-placeholder,
select::-ms-input-placeholder,
option::-ms-input-placeholder,
.custom-file-input::-ms-input-placeholder {
  color: var(--tertiary-color);
}

.search-input::placeholder,
input:not([type="checkbox"])::placeholder,
textarea::placeholder,
select::placeholder,
option::placeholder,
.custom-file-input::placeholder {
  color: var(--tertiary-color);
}

textarea, input {
  background: #3e4c5c;
}

select:focus {
  outline: none;
}

/*
***********************************
CONTAINERS
***********************************
*/
.container {
  padding: 7em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

/*
***********************************
FLASH MESSAGES
***********************************
*/
.flash-container {
  z-index: 2;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.alert {
  -webkit-box-shadow: 8px 8px 7px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 8px 8px 7px -2px rgba(0, 0, 0, 0.75);
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: none;
  outline: none;
  text-align: center;
  opacity: 0.8;
  font-size: 1.3em;
  padding: 2%;
  border-radius: 9px;
}

.alert::after {
  opacity: 0;
  -webkit-transition: ease;
  transition: ease;
}

.close {
  color: red !important;
  text-shadow: 0 1px 0 #000 !important;
  opacity: 1;
  background: none;
  border: none;
  font-size: 2em;
}

.close:focus {
  outline: none;
}

.close:hover {
  color: green !important;
}

/*
***********************************
BUTTONS 
***********************************
*/
.button-save {
  background: var(--link-button-color);
  border: none;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  text-align: center;
  color: var(--font-color);
  -webkit-box-shadow: 0px 2px 12px -4px #3a1b14da;
          box-shadow: 0px 2px 12px -4px #3a1b14da;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.button-save:hover {
  background-color: var(--orange-icon-color);
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-box-shadow: 8px 8px 21px -4px var(--orange-icon-color);
          box-shadow: 8px 8px 21px -4px var(--orange-icon-color);
}

.button-save:focus {
  outline: none;
}

.mg-left {
  margin-left: 2em;
}

.fake-button {
  padding-left: 8px;
  padding-right: 8px;
  background-color: var(--link-button-color);
  color: var(--tertiary-color);
  border-radius: 10px;
}

.button-icon {
  background: none;
  outline: none;
  border: none;
}

.button-icon:focus {
  background-color: var(--main-color) !important;
}

.btn-link:focus {
  text-decoration: none !important;
}

/*
***********************************
TABLES
***********************************
*/
table {
  margin: auto !important;
}

tr td {
  color: var(--primary-color);
}

/*
*************************
LOADING ANIMATION
*************************
*/
#loader {
  border: 12px solid #f3f3f3;
  border-radius: 50%;
  border-top: 12px solid #444444;
  background-color: #f5f5f5;
  width: 70px;
  height: 70px;
  -webkit-animation: spin 1s linear infinite;
          animation: spin 1s linear infinite;
  z-index: 1000;
  -webkit-box-shadow: inset 0px 0px 10px 3px rgba(0, 0, 0, 0.75);
          box-shadow: inset 0px 0px 10px 3px rgba(0, 0, 0, 0.75);
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

/*
***********************************
BOOSTRAP
***********************************
*/
.card {
  background-color: var(--secondary-color) !important;
  border: none;
  padding-right: 0 !important;
}

.card-title-view {
  margin-left: 3.75rem;
  margin-top: 1em;
}

.card-body {
  padding: 0 !important;
  padding: 0 !important;
}

.card-img {
  text-align: center;
  margin-bottom: 2em;
}

.navbar-light {
  background-color: var(--tertiary-color) !important;
  border-radius: 40px 40px 0 0;
}

.nav-pills .nav-link.active {
  background-color: var(--orange-icon-color) !important;
}

.jumbotron {
  background: var(--main-color) !important;
}

/*
***********************************
MEDIA QUERIES
***********************************
*/
/*
***********************************
DYNAMIC FORM
***********************************
*/
.main-create-recipe {
  background: var(--main-color) !important;
}

.main-add-recipe-container {
  width: 80%;
  margin: auto;
  position: inherit;
  z-index: 1;
}

.header-form-create-recipe {
  height: 30%;
}

.fieldsets-container {
  height: 60%;
}

#heading {
  text-transform: uppercase;
  color: var(--progress-color);
  font-weight: normal;
}

#msform {
  text-align: center;
  position: inherit;
  margin-top: 20px;
}

#msform fieldset {
  background: transparent;
  border: 0 none;
  border-radius: 0.5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding-bottom: 20px;
  position: inherit;
}

.form-card {
  text-align: left;
}

#msform fieldset:not(:first-of-type) {
  display: none;
}

#msform input,
#msform textarea {
  padding: 8px 15px 8px 15px;
  width: 100%;
  font-size: 16px;
  letter-spacing: 1px;
}

#msform textarea {
  height: 200px;
}

#msform input:focus,
#msform textarea:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid var(--progress-color);
  outline-width: 0;
}

#msform .action-button {
  float: right;
}

#msform .action-button:hover,
#msform .action-button:focus {
  color: var(--orange-button-color);
}

#msform .action-button-previous {
  float: right;
}

#msform .next {
  border-radius: 0px 20px 20px 0px;
}

#msform .action-button-previous:hover,
#msform .action-button-previous:focus {
  color: var(--orange-button-color);
}

.fs-title {
  font-size: 25px;
  color: var(--secondary-color);
  margin-bottom: 15px;
  font-weight: normal;
  text-align: left;
}

.purple-text {
  color: var(--progress-color);
  font-weight: normal;
}

.steps-container {
  width: 100%;
  height: 360px;
  overflow-y: scroll;
  padding-right: 2em;
}

.steps-container textarea {
  height: 200px;
}

.steps, .steps-container {
  padding: 0;
}

.row-step,
.row-ingredients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.row-ingredients {
  width: 100%;
}

.li-step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.li-step div,
.li-ingredient div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.li-ingredient select {
  margin-bottom: 2em;
}

.li-ingredient .button-save {
  margin-left: 1em;
}

.remove-step-link,
.remove-ingredient-link {
  height: 40px;
  outline: none;
  border: none;
  background: none;
}

.remove-ingredient-link {
  float: right;
}

.remove-step-link:before,
.remove-ingredient-link:before {
  font-family: FontAwesome;
  content: "\f00d";
  font-size: 2em;
  color: #aa1515;
}

.remove-step-link:hover,
.remove-ingredient-link:hover {
  color: var(--primary-color);
}

.add-step-link,
.add-ingredient-link {
  border: none;
  outline: none;
  background-color: transparent;
}

.add-step-link:hover,
.add-ingredient-link:hover {
  color: var(--progress-color);
}

.add-step-link:focus,
.add-step-link:active,
.add-ingredient-link:focus,
.add-ingredient-link:active {
  outline: none;
}

.textarea-step {
  height: 100px !important;
}

.steps-title,
.steps-steps {
  font-size: 25px;
  color: gray;
  margin-bottom: 10px;
  font-weight: normal;
  text-align: right;
}

.steps-title .steps-steps {
  padding-right: 20px;
  height: 263px;
  overflow-y: scroll;
  width: 66%;
}

.fieldlabels {
  text-align: left;
}

.recipe-add-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#recipe_recipeMenu,
#recipe_recipeCategory,
#recipe_person,
#recipe_timePrepa,
#recipe_timeCook {
  width: 100%;
  font-size: 1em;
  margin-top: 2em;
}

#recipe_timePrepa,
#recipe_timeCook {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 4em;
}

#recipe_timePrepa_hour,
#recipe_timePrepa_minute,
#recipe_timeCook_hour,
#recipe_timeCook_minute {
  width: 25%;
  height: 33px;
}

.recipe-category div select {
  overflow-y: scroll;
}

.recipe-category-selected,
.recipe-guests-selected,
.recipe-time-selected {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2em;
}

.time-form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.time-form-container .left,
.time-form-container .right {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
}

.time-form-container .left div select,
.time-form-container .right div select {
  width: 50% !important;
}

.ingredients {
  margin: 0 !important;
  padding: 0 !important;
}

.recipe-tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2em;
  width: 78%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#recipe_tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#recipe_tags input {
  width: auto;
}

.recipe-tags label {
  margin-right: 1em;
}

/*
************
PROGRESS BAR
************
*/
#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  color: lightgrey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#progressbar li {
  list-style-type: none;
  font-size: 15px;
  width: 8%;
  margin-right: 1em;
  float: left;
  position: inherit;
  font-weight: 400;
}

#progressbar .active {
  color: var(--progress-color);
}

#progressbar #account:before {
  font-family: FontAwesome;
  content: "\f13e";
}

#progressbar #description:before {
  font-family: FontAwesome;
  content: "\f040";
}

#progressbar #step:before {
  font-family: FontAwesome;
  content: "\f022";
}

#progressbar #ingredients:before {
  font-family: FontAwesome;
  content: "\f0f5";
}

#progressbar #shopping-card:before {
  font-family: FontAwesome;
  content: "\f07a";
}

#progressbar #filter:before {
  font-family: FontAwesome;
  content: "\f0b0";
}

#progressbar #guests:before {
  font-family: FontAwesome;
  content: "\f0c0";
}

#progressbar #clock:before {
  font-family: FontAwesome;
  content: "\f017";
}

#progressbar #picture:before {
  font-family: FontAwesome;
  content: "\f03e";
}

#progressbar #tags:before {
  font-family: FontAwesome;
  content: "\f02c";
}

#progressbar #confirm:before {
  font-family: FontAwesome;
  content: "\f00c";
}

#progressbar li:before {
  width: 34px;
  height: 34px;
  line-height: 37px;
  display: block;
  font-size: 20px;
  color: #ffffff;
  background: lightgray;
  border-radius: 50%;
  margin: 0 auto 10px auto;
  padding: 2px;
}

#progressbar li.active:before,
#progressbar li.active:after {
  background: var(--progress-color);
}

.progress {
  position: -webkit-sticky;
  position: sticky;
  top: 0%;
  background-color: #ff785b !important;
}

.background-progress-bar {
  width: 100%;
  height: 22px;
  background-color: var(--orange-button-color);
  position: absolute;
  z-index: -2;
  -webkit-box-shadow: inset 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
}

.progress-bar {
  background: #59a61d;
  background: -webkit-gradient(linear, left bottom, left top, from(#59a61d), color-stop(49%, #6cc725), to(#5eaa23));
  background: linear-gradient(0deg, #59a61d 0%, #6cc725 49%, #5eaa23 100%);
  height: 20px !important;
  border-radius: 0 20px 20px 0;
  -webkit-box-shadow: 1px 0px 3px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 1px 0px 3px 0px rgba(0, 0, 0, 0.75);
  -webkit-transition: ease-out 0.5s;
  transition: ease-out 0.5s;
}

.fit-image {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/*
***********************************
NAV
***********************************
*/
.menu {
  background-color: var(--main-color);
}

.nav-top-container {
  z-index: 200;
  position: -webkit-sticky;
  position: sticky;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 20%;
  padding: 1em 0;
  -webkit-box-shadow: 0px 9px 9px -9px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 9px 9px -9px rgba(0, 0, 0, 0.5);
}

.sub-nav {
  position: absolute;
  width: 100%;
  padding: 0 1em 0 3em !important;
}

.sub-nav .col {
  padding: 0 !important;
}

.supercharged-menu {
  border: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  background-color: #4e4e4ec4 !important;
  color: var(--primary-color);
  z-index: 4;
  -webkit-box-shadow: 0px 9px 6px -8px;
          box-shadow: 0px 9px 6px -8px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  -webkit-box-shadow: 0px 5px 11px -5px rgba(0, 0, 0, 0.5), 0px 13px 25px -10px #4e4e4e60;
          box-shadow: 0px 5px 11px -5px rgba(0, 0, 0, 0.5), 0px 13px 25px -10px #4e4e4e60;
}

.supercharged-menu ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.supercharged-menu a {
  font-weight: bold;
  text-decoration: none;
  margin-bottom: 1em;
}

.collapse, .collapsing {
  margin: auto;
}

/*
***********************************
SEARCH BAR
***********************************
*/
.search-input {
  width: 8rem;
  height: 2rem;
}

.main-button-search {
  display: none;
}

.search form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/*
***********************************
FILTERS 
***********************************
*/
.filters-container label span {
  color: var(--primary-color);
}

/*
***********************************
LOGIN / REGISTER
***********************************
*/
.login-div {
  width: 70%;
  margin: 10% auto;
}

.login-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-self: center;
}

/*
***********************************
MAIN
***********************************
*/
main {
  overflow-y: auto;
  height: 80%;
  background-color: var(--main-color);
}

/*
***********************************
HOMEPAGE
***********************************
*/
.custom-section {
  padding: 2em;
}

.section-2 {
  background-color: var(--contrast-main-color-2);
}

.section-2 .right .big {
  color: var(--title-color) !important;
}

.section-3 {
  background-color: #d3d7fa;
}

.section-3 .left .big {
  color: var(--orange-icon-color) !important;
}

.section-4 {
  background-color: var(--tertiary-color);
}

.section-4 .left .big {
  color: var(--contrast-main-color-2) !important;
}

.main-homepage {
  height: 80%;
  overflow-y: scroll;
}

.big {
  font-size: 7em;
  color: var(--orange-icon-color);
}

@media (min-width: 576px) and (max-width: 768px) {
  .big {
    font-size: 3em;
  }
}

@media (min-width: 300px) and (max-width: 576px) {
  .big {
    font-size: 3em;
  }
}

.img-center {
  margin: auto;
}

.exemple-img {
  width: 100%;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
}

.exemple-img:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/*
***********************************
RECIPIES
***********************************
*/
.scrollable {
  background-color: var(--tertiary-color) !important;
  padding: 1em;
  overflow-y: scroll;
  height: 350px;
}

@media (min-width: 1280px) {
  .scrollable {
    height: 1200px;
  }
}

@media (min-width: 1280px) {
  .scrollable {
    height: 800px;
  }
}

@media (min-width: 300px) and (max-width: 576px) {
  .scrollable {
    height: 450px;
  }
}

/*RECIPIES*/
.card-title {
  margin: 1em;
  height: 70px;
}

.recipies-list-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 2em;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card-recipe-list,
.fav-recipe-list {
  width: 300px;
  margin: 1em !important;
  border-radius: 20px;
  border: none;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.card-recipe-list:hover,
.fav-recipe-list:hover {
  -webkit-box-shadow: inset 0px 0px 7px -1px rgba(0, 0, 0, 0.75);
          box-shadow: inset 0px 0px 7px -1px rgba(0, 0, 0, 0.75);
}

.card-recipe-list,
.recipe-view-container {
  -webkit-box-shadow: inset 0px 0px 24px -1px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px 0px 24px -1px rgba(0, 0, 0, 0.75);
}

.container-shadow {
  -webkit-box-shadow: -7px 12px 19px -8px rgba(0, 0, 0, 0.5);
          box-shadow: -7px 12px 19px -8px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

.img-list-container {
  position: relative;
  height: 19rem;
}

.img-recipe-list {
  border-radius: 50%;
  width: 16rem;
  height: 16rem;
  margin-top: 2em;
  -webkit-box-shadow: -9px 9px 9px -9px rgba(0, 0, 0, 0.5);
          box-shadow: -9px 9px 9px -9px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.img-recipe-list:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: -7px 12px 19px -8px rgba(0, 0, 0, 0.5);
          box-shadow: -7px 12px 19px -8px rgba(0, 0, 0, 0.5);
}

.img-result-search {
  border-radius: 20px;
}

.recipe-summary table th {
  padding: 0 20px;
}

.recipe-resume {
  padding: 0 3em 1em 4em;
}

.button-add, .removeFav {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #d1d1d1;
  cursor: pointer;
  top: -20px;
  left: -15px;
  text-align: center;
  -webkit-box-shadow: 0px 2px 12px -4px #3a1b14da;
          box-shadow: 0px 2px 12px -4px #3a1b14da;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.button-add span, .removeFav span {
  color: var(--tertiary-color);
  font-size: 30px;
  top: 1px;
  left: 14px;
}

.button-add:hover, .removeFav:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-box-shadow: 8px 8px 21px -4px #4d4d4d;
          box-shadow: 8px 8px 21px -4px #4d4d4d;
}

.button-add:hover span, .removeFav:hover span {
  color: #636363;
}

.isFav, .removeFav {
  background: var(--orange-icon-color);
}

.isFav:hover, .removeFav:hover {
  -webkit-box-shadow: 8px 8px 21px -4px var(--orange-icon-color);
          box-shadow: 8px 8px 21px -4px var(--orange-icon-color);
}

.add-to-shop-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 2em;
}

.add-articles-section {
  margin-top: 1em;
}

.add-articles-section .right {
  margin-top: 1em;
}

.left-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 300px) and (max-width: 576px) {
  .left-right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.left-info-recipe {
  width: 35%;
}

.right-info-recipe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 65%;
}

@media (min-width: 300px) and (max-width: 576px) {
  .right-info-recipe {
    margin: 3em auto 0 auto;
  }
}

.p-description {
  text-align: justify;
  padding: 1em;
}

/*VIEW*/
#navbar-recipe-steps {
  border-bottom: 1px solid #00000042;
}

/*
***********************************
SHOPPING LIST
***********************************
*/
.create-new-shoplist-button {
  border: none;
  background: transparent;
  text-align: left;
  font-family: montserrat;
  padding: 0;
  font-weight: 600;
  font-size: 15px;
  color: var(--font-color);
}

.create-new-shoplist-button:focus {
  outline: none;
}

.create-new-shoplist-button:hover {
  color: var(--orange-icon-color);
}

.main-shoplists {
  overflow-y: scroll;
  height: 80%;
  background-color: var(--main-color);
}

.main-title-shop-list {
  color: var(--orange-icon-color) !important;
}

.hidden-radio {
  display: none;
}

.amount-value {
  color: var(--orange-color-icon) !important;
}

.a-content {
  visibility: hidden;
  text-align: left;
  border-radius: 20px;
  -webkit-box-shadow: 0 2px 3px rgba(0, 8, 14, 0.7) inset, 0 10px 18px rgba(207, 165, 25, 0.397) inset;
          box-shadow: 0 2px 3px rgba(0, 8, 14, 0.7) inset, 0 10px 18px rgba(207, 165, 25, 0.397) inset;
  opacity: 0;
  height: 0;
  -webkit-transition: ease-out 0.2s;
  transition: ease-out 0.2s;
}

.a-content-visible {
  background-color: var(--tertiary-color);
  opacity: 1;
  visibility: visible;
  overflow-y: scroll;
  height: calc(100% - 80px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: ease-in 0.2s;
  transition: ease-in 0.2s;
}

.a-content ul {
  width: 100%;
  padding: 2em;
}

.a-container {
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  margin: auto;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.a-container ul li {
  font-size: 1.2em;
  text-shadow: -1px 1px 3px #0a0a0a;
}

.a-container label {
  display: block;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.articles-container {
  margin-bottom: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/*
*****
MODAL
****
*/
.add-articles-to-shoplist-section {
  height: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  position: fixed;
  background-color: var(--contrast-main-color-3);
  z-index: 4;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0px 9px 6px -8px;
          box-shadow: 0px 9px 6px -8px;
}

.add-article-to-shoplist-btn {
  color: var(--orange-icon-color) !important;
}

.add-articles-to-shoplist-section * {
  visibility: hidden;
}

.add-articles-to-shoplist-section .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.add-articles-to-shoplist-section .title h2 {
  color: var(--orange-icon-color) !important;
}

.add-articles-to-shoplist-section input {
  width: 20em;
}

.add-articles-to-shoplist-section .right a {
  margin: 0 2em;
}

.jumbo-container {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.temp-list {
  height: 300px;
  overflow-y: scroll;
  background: var(--contrast-main-color-2);
  width: 100%;
}

.newLi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1em;
  color: var(--font-color);
  font-size: 1.4em;
}

.remove-article::after {
  content: '✗';
  color: red;
  margin-left: 1em;
}

/*
***********************************
CONTROL
***********************************
*/
.control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 0;
}

.control-recipe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 20px 0;
  width: 30%;
}

.a-items .control label i,
.a-items .control a i {
  padding: 0 1em;
}

/*
***********************************
FOOTER
***********************************
*/
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 13%;
  background-color: var(--main-color);
  -webkit-box-shadow: 0px -9px 14px -6px rgba(0, 0, 0, 0.5);
          box-shadow: 0px -9px 14px -6px rgba(0, 0, 0, 0.5);
}

.footer a {
  margin: auto;
}

/*
***********************************
ANIMATION
***********************************
*/
/*# sourceMappingURL=styles.css.map */