{% extends "base.html.twig" %}

{% block body %}

<main>
    <section class='recipies-list-container'>

        {% if recipies is empty %}
        <h2>Votre liste de favoris est vide...</h2>
        {% else %}

        {% for recip in recipies %}
        {% for i, recipe in recip %}

        {% include "recipe/_recipe.template.html.twig" %}

        {% endfor %}
        {% endfor %}
        {% endif %}
    </section>
</main>
{% endblock %}