{% extends 'base.html.twig' %}

{% block body %}
<div class="login-div">
	<h1 class="h3 mb-3 font-weight-normal">S'enregistrer</h1>
	{{ form_start(form) }}
	{{ form_widget(form) }}
	<br>
	<div class="container-button">
		<button class="button-save">{{ button_label|default('Valider') }}</button>
	</div>
	{{ form_end(form) }}
</div>
{% endblock %}