

<nav class="menu">
  <button class="openbtn">&#9776;</button>
  <div id="mySidepanel" class="sidepanel">
    <a href="#" class="closebtn">&times;</a>
    <a href="#">About</a>
    <a href="#">Recettes</a>
    <a href="#">Liste de courses</a>
    <a href="#">Contact</a>
  </div>
  
</nav>

